* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased; /*for smoothering font*/
    scroll-behavior: smooth;
}

/* custom fonts */
@font-face {
    font-family: "DinBold";
    src: url("DIN-Bold.eot");
    /* IE9 Compat Modes */
    src: url("DIN-Bold?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("DIN-Bold.woff") format("woff"),
        /* Modern Browsers */
        url("DIN-Bold.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("DIN-Bold.svg#svgFontName") format("svg");
    /* Legacy iOS */
}

@font-face {
    font-family: "RobotoBold";
    src: url("Roboto-Bold.eot");
    /* IE9 Compat Modes */
    src: url("Roboto-Bold?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("Roboto-Bold.woff") format("woff"),
        /* Modern Browsers */
        url("Roboto-Bold.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("Roboto-Bold.svg#svgFontName") format("svg");
    /* Legacy iOS */
}

/* setting height of body */
body {
    height: 100vh;
}

/* background picture */
.wrapper>img {
    width: 100%;
}

/* header background picture set to relative so we can make absolute position of header */
.wraper>img {
    position: relative;
}

/* header */
.header {
    /* background-color: brown; */
    height: 10vh;
    position: absolute;
    top: 2.5%;
    width: 100%;
    color: white;
}

/* header's logo section */
.logo {
    /* background-color: blue; */
    position: relative;
    padding: 90px;
}

/* style for logo's image */
.logo>img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* making all header item's flex */
.wrapper>.header,
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



/* style for mecu sections */
.wrapper>.header>ul {
    list-style: none;
    /* background-color: blueviolet; */
    margin: 0 5% 0 0;
    font-family: "RobotoBold", sans-serif;
    font-size: 125%;
    font-weight: 700;
}

/* spacing for menu elements */
.wrapper>.header>ul>li {
    margin-left: 40px;
}

/* style for burger menu */
.burgerMenu {
    /* background-color: aqua; */
}

/* style for activated section of menu */
.active {
    border-bottom: 1px solid white;
}