* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    /*for smoothering font*/
    scroll-behavior: smooth;
}

/* custom fonts */
/* Din Bold */
@font-face {
    font-family: 'DinBold';
    src: url('FONTS/DIN-Bold.ttf') format('truetype');
}

/* Roboto Bold */
@font-face {
    font-family: 'RobotoBold';
    src: url('FONTS/Roboto-Bold.ttf') format('truetype');
}

/* Din Regular */
@font-face {
    font-family: 'DinRegular';
    src: url('FONTS/Din-Regular.ttf') format('truetype');
}

/* setting height of body */
body {
    height: 100vh;
}

/* background picture */
.wrapper>img {
    width: 100%;
}

/* header background picture set to relative so we can make absolute position of header */
.wraper>img {
    position: relative;
}

/* header */
.header {
    /* background-color: brown; */
    height: 10vh;
    position: absolute;
    top: 5%;
    width: 100%;
    color: white;
}

/* header's logo section */
.logo {
    /* background-color: blue; */
    position: relative;
    padding: 100px;
    margin-left: 2%;
}

/* style for logo's image */
.logo>img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* making all header item's flex */
.wrapper>.header,
ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



/* style for menu sections */
.wrapper>.header>ul {
    list-style: none;
    /* background-color: blueviolet; */
    font-family: "RobotoBold", sans-serif;
    font-weight: 700;
}

/* spacing for menu elements */
.wrapper>.header>ul>li {
    margin-left: 40px;
}

/* style to seperate two last section */
.wrapper>.header>ul>li:nth-child(7) {
    /* background-color: black; */
    margin-left: 90px;
}

/* style for burger menu */
.burgerMenu {
    /* background-color: aqua; */
    margin-right: 1%;

}


/* style for activated section of menu */
.active {
    border-bottom: 1px solid white;
}

.shortDescription {
    position: absolute;
    top: 27%;
    left: 50%;
    text-align: center;
    /* background-color: coral; */
    transform: translate(-50%, -50%);
    color: white;
}

.shortDescription>h2 {
    font-family: 'DinBold';
    font-weight: 400;
    font-size: 2rem;
}

.shortDescription>.description{
    text-align: justify;
}
.shortDescription>.description>p{
    font-family: 'DinRegular';
}